# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
.envrc

# Jupyter
.ipynb_checkpoints

# Auth/Secrets
credentials.json
token.json
token.pickle

# IDEs/editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
